@font-face {
  font-family: "Inter-reg";
  src: url("../fonts/Inter-Regular.ttf");
}
@font-face {
  font-family: "Inter-medium";
  src: url("../fonts/Inter-Medium.ttf");
}
@font-face {
  font-family: "Inter-bold";
  src: url("../fonts/Inter-Bold.ttf");
}
.btn {
  border: 2px solid #f8f8f8;
  border-radius: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-align: left;
  width: 150px;
  height: 37px;
  padding-top: 9px;
}
.btn-selection {
  background-color: #f8f8f8;
  border: 2px solid #f8f8f8;
}
.btn-selection.clicked {
  background-color: #FFFFFF;
  border: 2px solid #664EF9;
  -webkit-box-shadow: 0px 5px 15px 0px rgba(135, 124, 202, 0.25);
          box-shadow: 0px 5px 15px 0px rgba(135, 124, 202, 0.25);
}
.btn:hover {
  background-color: #F0EEFF;
  border: 2px solid #F0EEFF;
}

.list-city {
  border-radius: 10px;
  width: 150px;
  background-color: #FFFFFF;
  -webkit-box-shadow: 0px 0px 40px rgba(135, 124, 202, 0.3);
          box-shadow: 0px 0px 40px rgba(135, 124, 202, 0.3);
  display: none;
}
.list-city.show {
  display: block;
}
.list-city__item {
  padding: 10px 15px;
}
.list-city__item:hover {
  background-color: #f8f8f8;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.social .social-link {
  background-color: #FDFAFA;
  border-radius: 50px;
  padding: 9px 11px;
}
.social .social-link .icon-social {
  width: 16px;
  height: 16px;
  fill: #1E2123;
  stroke: #1E2123;
}
.social .social-link:hover {
  background-color: rgba(102, 78, 249, 0.1);
}
.social .social-link:hover .icon-social {
  fill: #664EF9;
  stroke: #664EF9;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter-reg";
}

ul li {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 17px;
}

a {
  text-decoration: none;
}