.btn {
  border: 2px solid #f8f8f8;
  border-radius: 25px;
  display: flex;
  justify-content: space-around;
  text-align: left;
  width: 150px;
  height: 37px;
  padding-top: 9px;
  

  &-selection {
    background-color: #f8f8f8;
    border: 2px solid #f8f8f8;

    &.clicked {
      background-color: #FFFFFF;
      border: 2px solid #664EF9;
      box-shadow: 0px 5px 15px 0px rgba(135, 124, 202, 0.25);
    }
  }

  &:hover {
    background-color: #F0EEFF;
    border: 2px solid #F0EEFF;
  }
}

.list-city {
  border-radius: 10px;
  width: 150px;
  background-color: #FFFFFF;
  box-shadow: 0px 0px 40px rgba(135, 124, 202, 0.3);
  display: none;
  &.show {
    display: block;    
  }

  &__item {
    padding: 10px 15px;

    &:hover {
      background-color: #f8f8f8;
    }
  }
}
